body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #e5e9ed;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}
.div1 {
    text-align: center;
}
.tabla-empleados {
    margin-bottom: 20px;
}

table {
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #655f5f;
    padding: 8px;
}

th {
    background-color: #f0f0f0;
}

.formulario-empleado {
    border: 1px solid #ddd;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="tel"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

button {
    background-color: #b11c19;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.contenedor-float {
    overflow: auto;
}

.caja-float {
    float: left;
    margin-right: 10px; 
    background-color: rgb(243, 231, 230);
    border: 1px solid #000;
}

.caja-ancho1 {
    width: 70%;
    height: 600px; 
    overflow-y: auto;
}
.caja-ancho-2 {
    width: 35%;
}