{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de empleados</title>
    <link rel="stylesheet" type ="text/css" href='{% static "gestionarEmpleado.css" %}'>
    <style>
        .selected {
            background-color: #ed7171;
        }
        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }
        header {
            background-color: #525f6e;
            color: #ece9e9;
            text-align: center;
            padding: 10px;
        }
    </style>
    
</head>
<body>
    <header>
        <h1>Gestionar empleados</h1>
    </header>

    <main>
        <section class="tabla-empleados">
            <div class="contenedor-float">
                <div class="caja-float caja-ancho1">
                    <table id="registros-table">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Edad</th>
                                <th>Teléfono</th>
                                <th>Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for empleado in empleados %}
                            <tr data-id="{{ empleado.id }}">
                                <td>{{ empleado.codigo }}</td>
                                <td>{{ empleado.nombre }}</td>
                                <td>{{ empleado.apellido }}</td>
                                <td>{{ empleado.edad }}</td>
                                <td>{{ empleado.telefono }}</td>
                                <td>{{ empleado.area }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>        
                </div>
                <div class="caja-float caja-ancho2">
                    <ul>
                        <div class="div1"><button id="bonificar-btn" class="disabled">Asignar bono</button></div>
                        <br>
                        <div class="div1"><button id="editar-btn" class="disabled">Editar empleado</button></div>
                        <br>
                        <div class="div1"><button id="eliminar-btn" class="disabled">Eliminar empleado</button></div>
                        <br>
                        <div class="div1"><button id="reportar-btn" class="disabled">Asignar reporte</button></div>
                        <br>
                        <div class="div1"><button id="administrar-exp-btn" class="disabled">Administrar expediente</button></div>
                        <br>
                        <div class="div1"><button id="ingresar-empleado-btn">Ingresar Empleado</button></div>
                        <br>
                        <div class="div1"><button id="gestionar-ausencia-btn">Gestionar ausencias</button></div>
                        <br>
                        <div class="div1"><button id="gestionar-planilla-btn">Gestionar planilla</button></div>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Gestión de empleados</p>
    </footer>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const table = document.getElementById('registros-table');
        const editarBtn = document.getElementById('editar-btn');
        const eliminarBtn = document.getElementById('eliminar-btn');
        const ingresarBtn = document.getElementById('ingresar-empleado-btn');
        const bonificarBtn = document.getElementById('bonificar-btn');
        const reportarBtn = document.getElementById('reportar-btn');
        const adminExpeBtn = document.getElementById('administrar-exp-btn');
        const ausenciaBtn = document.getElementById('gestionar-ausencia-btn');
        const planillaBtn = document.getElementById('gestionar-planilla-btn');

        let selectedRow = null;

        table.addEventListener('click', function(event) {
            if (event.target.tagName === 'TD') {
                if (selectedRow) {
                    selectedRow.classList.remove('selected');
                }
                selectedRow = event.target.parentElement;
                selectedRow.classList.add('selected');

                editarBtn.classList.remove('disabled');
                eliminarBtn.classList.remove('disabled');
                reportarBtn.classList.remove('disabled');
                bonificarBtn.classList.remove('disabled');
                adminExpeBtn.classList.remove('disabled');

                const registroId = selectedRow.getAttribute('data-id');
                editarBtn.dataset.id = registroId;
                eliminarBtn.dataset.id = registroId;
                reportarBtn.dataset.id = registroId;
                bonificarBtn.dataset.id = registroId;
                adminExpeBtn.dataset.id = registroId;
            }
        });

        editarBtn.addEventListener('click', function() {
            if (!this.classList.contains('disabled')) {
                const id = this.dataset.id;
                window.location.href = `/gestionar_empleado/actualizar_empleado/${id}`;
            }
        });
        reportarBtn.addEventListener('click', function() {
            if (!this.classList.contains('disabled')) {
                const id = this.dataset.id;
                window.location.href = `/gestionar_empleado/actualizar_empleado/${id}`;
            }
        });
        bonificarBtn.addEventListener('click', function() {
            if (!this.classList.contains('disabled')) {
                const id = this.dataset.id;
                window.location.href = `/gestionar_bono/${id}`;
            }
        });
        adminExpeBtn.addEventListener('click', function() {
            if (!this.classList.contains('disabled')) {
                const id = this.dataset.id;
                window.location.href = `/gestionar_empleado/actualizar_empleado/${id}`;
            }
        });
        eliminarBtn.addEventListener('click', function() {
            if (!this.classList.contains('disabled')) {
                const id = this.dataset.id;
                const confirmation = confirm('¿Estás seguro de que deseas eliminar este empleado?');
                if (confirmation) {
                    window.location.href = `/gestionar_empleado/eliminar_empleado/${id}`;  
                }
            }
        });
        ingresarBtn.addEventListener('click', function() {
                window.location.href = '/gestionar_empleado/ingresar_empleado';
            });
        ausenciaBtn.addEventListener('click', function() {
                window.location.href = '/gestionar_empleado/';
            });
        planillaBtn.addEventListener('click', function() {
                window.location.href = '/gestionar_empleado/';
            });
    });
</script>
